body {
  background-color: antiquewhite;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1style {
  font-size: 3rem;
  color: lawngreen;
}
.h2styleP1 {
  font-style: italic;
  font-size: 2.2rem;
  color: mediumspringgreen;
}
.h2styleP2 {
  color: magenta;
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
}

.btn {
  background-color: darkgreen;
  color: yellow;
  font-size: 2rem;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 8rem 0 3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: darkblue;
}
